<div class="card my-5">
  <div class="card-body">
    <h2>User Type : <b>{{userType.name}}</b></h2>
    <hr>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th class="align-middle" scope="col">#</th>
        <th class="align-middle" scope="col">Name</th>
        <th class="align-middle" scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
      </tr>
      </tbody>
    </table>

    <div class="btn-group">
      <a (click)="goToUserTypeList()"
         class="btn btn-secondary mx-1">Back
      </a>
    </div>
  </div>
</div>

